{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static './services/css/cart.css' %}">
{% endblock stylesheet %}
    
{% block title %}Cart{% endblock title %}

{% block main %}
<section class="cart">
    <div class="checkout-wrapper">
        <div class="ch-title">
            <h2>Checkout</h2>
        </div>
        <!-- cart items -->
        <div class="ch-stepcnt">
            <div class="chekout-steps">
                <div class="cs-header">
                    <div class="cs-title">
                        <h3>1.Shopping Bag ({{total_items}})</h3>
                    </div>
                    <div class="cs-dropdown">
                        <img src="{% static './services/images/cart Page/arrow-up-svgrepo-com.svg' %}" alt="" onclick="prodropdown()" id="shop-drop-btn">
                    </div>
                </div>
                <div id="shop-items">
                    {% for p in products %}
                    <div class="cs-item">
                        <div class="cs-pimg">
                            <a href="{% url "product_url" p.id %}">
                                <img src="{{p.image.url}}" alt="">
                            </a>
                        </div>
                        <div class="cs-pdetails">
                            <div class="cs-pname">
                                <a href="">
                                    <b>{{p.name}}</b>
                                    {% for d in p.desc %}
                                        {{d.description}},
                                    {% endfor %}
                                </a>
                            </div>
                            <div class="cs-pprice">
                                <Strong>₹{{p.new_price}} <del>₹{{p.old_price}}</del></Strong>
                            </div>
                        </div>
                        <div class="remove-btn">
                            <a href="{% url "remove_cart_item_url" p.cart_id %}">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- order summary -->
    <div class="o-sum-are"></div>
    <div class="order-summary">
        <div class="os-title">
            <h3>Order Summmary ({{total_items}})</h3>
        </div>
        <div class="os-body">
            <div class="o-des">
                <p>Order Value</p>
                <p>Product Discount</p>
                <p>Shipping</p>
            </div>
            <div class="o-val">
                <p id="list-price">₹{{total_price}}</p>
                <p id="discount">-{{total_discount}}%</p>
                <p>FREE</p>
            </div>
        </div>
        <hr>
        <div class="os-total">
            <div class="o-tot">
                <p>Order Total</p>
            </div>
            <div class="tot-price">
                <p id="total-price">₹{{final_price}}</p>
            </div>
        </div> 
        <div class="ord-btn" onclick='MakeOrder(this)' data-amount="{{final_price}}">
            Order Now
        </div>
    </div>
</section>
<script> 
    function MakeOrder(e) 
    {
        $.ajax({
            type: "POST",
            url: "http://localhost:8000/cart/api/order",
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                amount: e.dataset.amount,
            },
            success: function(data) {
                var options = {
                    "key": "rzp_test_TCjpjFREfXmCLQ",
                    "amount": "50000", 
                    "currency": "INR",
                    "name": "Tech Spectrum", 
                    "description": "Test Transaction",
                    "image": "/static/services/images/Home%20Page/logo.jpg",
                    "order_id": data.id, 
                    "handler": function (response){
                        alert('Order Placed');
                        alert(`${response.razorpay_payment_id} ${response.razorpay_order_id} ${response.razorpay_signature}`);
                    },
                    "prefill": { 
                        "name": "{{user.first_name}}", //your customer's name
                        "email": "{{user.email}}",
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
                e.preventDefault();
            }
        });
    }
    var p = 0, a = 0, s = 0
    function prodropdown() {
        if (p == 0) {
            document.getElementById("shop-drop-btn").style.content = "url(../../static/services/images/cart Page/arrow-down-svgrepo-com.svg)"
            document.getElementById("shop-items").style.display = "none"
            p++
        }
        else {
            document.getElementById("shop-drop-btn").style.content = "url(../../static/services/images/cart Page/arrow-down-svgrepo-com.svg)"
            document.getElementById("shop-items").style.display = "block"
            p--
        }
    }
    function addropdown() {
        if (a == 0) {
            document.getElementById("ship-drop-btn").style.content = "url(../../static/services/images/cart Page/arrow-down-svgrepo-com.svg)"
            document.getElementById("cs-addresses").style.display = "none"
            a++
        }
        else {
            document.getElementById("ship-drop-btn").style.content = "url(../../static/services/images/cart Page/arrow-down-svgrepo-com.svg)"
            document.getElementById("cs-addresses").style.display = "block"
            a--
        }
    }
</script>
{% endblock main %}