{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
{% endblock stylesheet %}

{% block title %}Home Page{% endblock title %} 

{% block main %}
<div class="signup">
  <form action="login" method="POST">
    {% csrf_token %}
    <H1> Login </H1>
    {% for message in messages %}
    <p{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</p>
    {% endfor %}
    <div id="f1">
      <input type="text" class=" inp" name="username" placeholder="username" required=""/><br><br>
      <input type="password" class="inp" name="password" placeholder="Password" required /><br /><br />
      <a href="#">Forget Password</a><br><br>
      <button type="submit" class="button" >Login</button><br><br />
        Create an account <a href="{% url 'register_url' %}">Sign up</a><br><br>
    </div>
  </form>
</div>
{% endblock %}