{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0a433bd601.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'services/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'services/css/products-list.css' %}" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="logo">
          <a href="#">LOGO</a>
        </div>
        <div class="site-links" id="link">
          <ul>
            <li><a href="#">Store</a></li>
            <li><a href="products_list">Phone</a></li>
            <li><a href="#">TV & LifeStyle</a></li>
            <li><a href="#">Laptop</a></li>
          </ul>
        </div>
        <div class="support">
          <a href="#">Support</a>
        </div>
        <div class="btn-link">
          <button class="sp-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <button class="sp-btn">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="badge">1</span>
          </button>
          <button class="sp-btn ">
            <a href="account/Mylogin"><i class="fa-solid fa-user"></i></a>
          </button>
          <button class="sp-btn" id="bar" onclick="menu()">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
      </nav>
    </header>
    <main>{% block main %}{% endblock main %}</main>
  </body>
</html>
