{% extends 'services/base.html' %} {% load static %} {% block title %} Home Page
{% endblock title %} {% block script%} {% endblock script %} {% block main %}
<main>
  <div class="carousel">
    <ul>
      <li class="slide" data-active>
        <img src="{% static 'services/images/Home Page/phone1.jpg' %}" alt="Image 1" />
      </li>
      <li class="slide">
        <img src="{% static 'services/images/Home Page/phone2.jpg' %}" alt="Image 2" />
      </li>
      <li class="slide">
        <img src="{% static 'services/images/Home Page/phone3.jpg' %}" alt="Image 3" />
      </li>
    </ul>
  </div>
  <div class="new-arrivals">
    <div class="banner-new">
      <img src="{% static 'services/images/Home Page/banner.jpg' %}" alt="" />
    </div>
  </div>
  <section class="product-grid">
    <div class="product-card">
      <div class="product-title">Redmi A2</div>
      <div class="market-details">
        <ul>
          <li class="discount">
            <span>34% off</span>
          </li>
          <li class="new">
            <span>new</span>
          </li>
        </ul>
      </div>
      <div class="product-info">
        <div class="product-price">
          <span>From</span>
          <strong><small>₹</small>5,499</strong>
          <del>₹7,999</del>
        </div>
        <div class="product-image">
          <img src="{% static 'services/images/Product Page/redmi a2.jpg' %}" alt="" />
        </div>
      </div>
    </div>
    <div class="product-card">
      <div class="product-title">Redmi A2+</div>
      <div class="market-details">
        <ul>
          <li class="discount">
            <span>29% off</span>
          </li>
          <li class="new">
            <span>new</span>
          </li>
        </ul>
      </div>
      <div class="product-info">
        <div class="product-price">
          <span>From</span>
          <strong><small>₹</small>8,499</strong>
          <del>₹11,999</del>
        </div>
        <div class="product-image">
         <img src="{% static 'services/images/Product Page/redmi a2+.jpg' %}" alt="" />
        </div>
      </div>
    </div>
    <div class="product-card">
      <div class="product-title">Redmi 12C</div>
      <div class="market-details">
        <ul>
          <li class="discount">
            <span>37% off</span>
          </li>
          <li class="new">
            <span>new</span>
          </li>
        </ul>
      </div>
      <div class="product-info">
        <div class="product-price">
          <span>From</span>
          <strong><small>₹</small>5,499</strong>
          <del>₹7,999</del>
        </div>
        <div class="product-image">
          <img src="{% static 'services/images/Product Page/redmi 12c.jpg' %}" alt="" />
        </div>
      </div>
    </div>
    <div class="product-card">
      <div class="product-title">Xiaomi Grooming Kit</div>
      <div class="market-details">
        <ul>
          <li class="discount">
            <span>45% off</span>
          </li>
          <li class="new">
            <span>new</span>
          </li>
        </ul>
      </div>
      <div class="product-info">
        <div class="product-price">
          <span>From</span>
          <strong><small>₹</small>5,499</strong>
          <del>₹7,999</del>
        </div>
        <div class="product-image">
          <img src="{% static 'services/images/Product Page/trimmer.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </section>
</main>
<script src="{% static 'services/javascript/Product Page/home.js' %}"></script>
{% endblock main %}
