{% extends 'services/base.html' %} 
{% load static %} 
{% load mathfilters %}

{% block title %}Home Page{% endblock title %} 

{% block script%} {% endblock script %} 

{% block main %}
<main>
  <div class="carousel">
    <ul>
      <li class="slide" data-active>
        <img src="{% static 'services/images/Home Page/phone1.jpg' %}" alt="Image 1" />
      </li>
      <li class="slide">
        <img src="{% static 'services/images/Home Page/phone2.jpg' %}" alt="Image 2" />
      </li>
      <li class="slide">
        <img src="{% static 'services/images/Home Page/phone3.jpg' %}" alt="Image 3" />
      </li>
    </ul>
  </div>
  <div class="new-arrivals">
    <div class="banner-new">
      <img src="{% static 'services/images/Home Page/banner.jpg' %}" alt="" />
    </div>
  </div>
  <section class="product-grid">
    {% for product in products %}
    <a href="{% url 'product_url' product.id %}">
      <div class="product-card">
        <div class="product-title">{{product.name}}</div>
        <div class="market-details">
          <ul>
            <li class="discount">
              <span>{{product.discount}}% off</span>
            </li>
          </ul>
        </div>
        <div class="product-info">
          <div class="product-price">
            <span>From</span>
            <strong><small>₹</small>{{product.new_price}}</strong>
            <del>₹{{product.old_price}}</del>
          </div>
          <div class="product-image">
            {% if product.image %}
            <img src="{{product.image.url}}" alt="" />
            {% endif %}
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </section>
</main>
<script src="{% static 'services/javascript/home.js' %}"></script>
{% endblock main %}
