{% extends 'services/base.html' %}
{% load static %}
{% csrf_token %}
{% block title %} Products list{% endblock title %}
{% block main %}
<div class="fillter-bar">
    <h2 class="product-title">
        Phones
    </h2>
    <form action="post">
        <ul class="fillter-list">
            <li>
                <select name="Brands" id="brand">
                    <option value="#">Select Brand</option>
                    <option value="apple">Apple</option>
                    <option value="samsung">Samsung</option>
                    <option value="nokia">Nokia</option>
                    <option value="xiaomi">Xiaomi</option>
                </select>
            </li>
            <li class="sort-list">
                <label><input type="radio" name="fillter" class="fillter" id="popularity" checked>
                    <span id="relevance-text">Relevance</span>
                </label>
            </li>
            <li class="sort-list">
                <label><input type="radio" name="fillter" class="fillter" id="new">
                    <span id="newest-text">Newest</span>
                </label>
            </li>
            <li class="sort-list">
                <label><input type="radio" name="fillter" class="fillter" id="stock"> <span>Low to High</span></label>

            </li>
            <li class="sort-list">
                <label><input type="radio" name="fillter" class="fillter" id="stock"> <span>High to Low</span></label>

            </li>
            <li class="sort-list">
                <label><input type="radio" name="fillter" class="fillter" id="stock"> <span>In stock</span></label>

            </li>
        </ul>
    </form>
  <section class="product-grid">
            <div class="pro-card">
            <div class="product-img">
                <img src="{% static 'services/images/Product Page/realme c55.jpg' %}" alt="">
            </div>
            <div class="pro-details">
                <a href="sproduct" class="pro-title">
                    Realme C55
                </a>
                <div class="pro-review-star">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="reviews">
                        <span>(56)</span>
                    </div>
                </div>
                <div class="pro-specs">
                    <p>4 GB + 64 GB</p>
                </div>
                <div class="mar-details">
                    <ul>
                        <li class="discount">
                            <span>34% off</span>
                        </li>
                        <li class="new">
                            <span>new</span>
                        </li>
                    </ul>
                </div>
                <div class="pro-price">
                    <strong><small>₹</small>6,999</strong>
                    <del>₹7,999</del>
                </div>
            </div>
        </div>
        <div class="pro-card">
            <div class="product-img">
                <img src="{% static 'services/images/Product Page/redmi a2.jpg' %}" alt="">
            </div>
            <div class="pro-details">
                <a href="#" class="pro-title">
                    Redmi A2
                </a>
                <div class="pro-review-star">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="reviews">
                        <span>(56)</span>
                    </div>
                </div>
                <div class="pro-specs">
                    <p>4 GB + 64 GB</p>
                </div>
                <div class="mar-details">
                    <ul>
                        <li class="discount">
                            <span>34% off</span>
                        </li>
                        <li class="new">
                            <span>new</span>
                        </li>
                    </ul>
                </div>
                <div class="pro-price">
                    <strong><small>₹</small>6,999</strong>
                    <del>₹7,999</del>
                </div>
            </div>
        </div>

        <div class="pro-card">
            <div class="product-img">
                <img src="{% static 'services/images/Product Page/redmi 12c.jpg' %}" alt="">
            </div>
            <div class="pro-details">
                <a href="#" class="pro-title">
                     Redmi 12C
                </a>
               <div class="pro-review-star">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="reviews">
                        <span>(56)</span>
                    </div>
                </div>
                <div class="pro-specs">
                    <p>4 GB + 64 GB</p>
                </div>
                <div class="mar-details">
                    <ul>
                        <li class="discount">
                            <span>34% off</span>
                        </li>
                        <li class="new">
                            <span>new</span>
                        </li>
                    </ul>
                </div>
                <div class="pro-price">
                    <strong><small>₹</small>6,999</strong>
                    <del>₹7,999</del>
                </div>
            </div>
        </div>
        <div class="pro-card">
            <div class="product-img">
                <img src="{% static 'services/images/Product Page/redmi 12c.jpg' %}" alt="">
            </div>
            <div class="pro-details">
                <a href="#" class="pro-title">
                     Redmi 12C
                </a>
                <div class="pro-review-star">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="reviews">
                        <span>(56)</span>
                    </div>
                </div>
                <div class="pro-specs">
                    <p>4 GB + 64 GB</p>
                </div>
                <div class="mar-details">
                    <ul>
                        <li class="discount">
                            <span>34% off</span>
                        </li>
                        <li class="new">
                            <span>new</span>
                        </li>
                    </ul>
                </div>
                <div class="pro-price">
                    <strong><small>₹</small>6,999</strong>
                    <del>₹7,999</del>
                </div>
            </div>
        </div>
        <div class="pro-card">
            <div class="product-img">
                <img src="{% static 'services/images/Product Page/redmi 12c.jpg' %}" alt="">
            </div>
            <div class="pro-details">
                <a href="#" class="pro-title">
                     Redmi 12C
                </a>
                <div class="pro-review-star">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="reviews">
                        <span>(56)</span>
                    </div>
                </div>
                <div class="pro-specs">
                    <p>4 GB + 64 GB</p>
                </div>
                <div class="mar-details">
                    <ul>
                        <li class="discount">
                            <span>34% off</span>
                        </li>
                        <li class="new">
                            <span>new</span>
                        </li>
                    </ul>
                </div>
                <div class="pro-price">
                    <strong><small>₹</small>6,999</strong>
                    <del>₹7,999</del>
                </div>
            </div>
        </div>
  </section>
{% endblock main %}