{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0a433bd601.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static './services/css/sproduct.css' %}">
    <title>Product-Page</title>
</head>

<body>
    <section class="sproduct">
        <div class="row">
            <div class="col-img">
                <div class="main-img">
                    
                    <img src="{% static './services/images/products image/realme1.jpg ' %}" alt="phone image" id="MainImg">
                </div>
                <div class="small-img-grp">
                    <div class="small-img-col">
                        <img src="{% static './services/images/products image/realme1.jpg' %}" alt="" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{% static './services/images/products image/realme2.jpg ' %}" alt="" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{% static './services/images/products image/realme4.jpg ' %}" alt="" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{% static './services/images/products image/realme5.jpg ' %}" alt="" class="small-img">
                    </div>
                </div>
            </div>
            <div class="col-details">
                <div class="spro-title">
                    <h3>Realme C55 (Rainforest, 64) (4 GB Ram)</h3>
                </div>
                <div class="spro-review-star">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <div class="reviews">
                        <span>Based on 56 reviews</span>
                    </div>
                </div>
                <div class="spro-price">
                    <strong>
                        <small>₹</small>
                        8,999
                    </strong>
                    <del>
                        ₹9,999
                    </del>
                </div>
                <div class="spro-select-specs">
                    <div class="choices">
                        <div class="col-choices">
                            <div class="choice1-title">Ram</div>
                            <input type="radio" name="choice1" id="choice1-1" checked>
                            <label for="choice1-1">4GB</label>
                            <input type="radio" name="choice1" id="choice1-2">
                            <label for="choice1-2">6GB</label>
                        </div>
                        <div class="col-choices">
                            <div class="choice2-title">Color</div>
                            <input type="radio" name="choice2" id="choice2-1" checked>
                            <label for="choice2-1">Green</label>
                            <input type="radio" name="choice2" id="choice2-2">
                            <label for="choice2-2">Black</label>
                        </div>
                    </div>
                </div>
                <div class="spro-specs">
                    <h4>Highlights</h4>
                    <ul>
                        <li><span>4 GB RAM | 64 GB ROM | Expandable Upto 1 TB</span></li>
                        <li><span>17.07 cm (6.72 inch) Full HD+ Display</span></li>
                        <li><span>64MP + 2MP | 8MP Front Camera</span></li>
                        <li><span>5000 mAh Battery</span></li>
                        <li><span>Helio G88 Processor</span> </li>
                    </ul>
                </div>
                <div class="buy-cart">
                    <div class="cart"><a href=""><i class="fa-solid fa-cart-shopping"></i>Add to Cart</a></div>
                    <div class="buy"><a href=""><i class="fa-solid fa-bolt-lightning"></i>Buy Now</a></div>
                </div>
            </div>
        </div>
    </section>
<section class="review-container">
        <div class="rc-header">
            <h2 class="rc-header-title">
                Customer Reviews
            </h2>
            <div class="rc-summary">
                <span class="sum-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </span>
                <span class="sum-rating">
                    Based on 56 review
                </span>
                <span class="sum-write" onclick="show()">Write Review
                </span>
            </div>
        </div>
        <div class="review-form" id="review-form">
            <form action="post">
                <h3 class="form-title">Write a Review</h3>
                <label>Name</label>
                <input type="text" name="c_name" id="c_name" maxlength="20">
                <label>Email</label>
                <input type="email" name="c_email" id="c_email">
                <label>Location</label>
                <input type="text" name="c_location" id="c_location" maxlength="10">
                <label>Rating</label>
                <div class="star-rating">
                    <span class="fa fa-star" data-rating="1"></span>
                    <span class="fa fa-star" data-rating="2"></span>
                    <span class="fa fa-star" data-rating="3"></span>
                    <span class="fa fa-star" data-rating="4"></span>
                    <span class="fa fa-star" data-rating="5"></span>
                </div>
                <input type="hidden" id="rating-input" name="rating" value="" />
                <label>Title</label>
                <input type="text" name="c_rev_title" id="c_rev_title" maxlength="30">
                <label>Review (150)</label>
                <textarea name="" id="" cols="10" rows="10" maxlength="100"></textarea>
            </form>
        </div>
        <div class="review">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="c_details">
                <small><strong>Anita</strong> on <strong>jul 10, 2023</strong> India</small>
                <div class="rev-title">
                    <h3>Great Phone</h3>
                </div>
                <div class="rev-des">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, vero. Dolorum, ad eaque!
                        Quia pariatur adipisci quam perspiciatis excepturi dolores optio quae, quibusdam esse dolorem
                        iste quasi fugit odio ut?</p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="c_details">
                <small><strong>Akansha</strong> on <strong>jul 06, 2023</strong> India</small>
                <div class="rev-title">
                    <h3>Great Phone</h3>
                </div>
                <div class="rev-des">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, vero. Dolorum, ad eaque!
                        Quia pariatur adipisci quam perspiciatis excepturi dolores optio quae, quibusdam esse dolorem
                        iste quasi fugit odio ut?</p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="c_details">
                <small><strong>Suman</strong> on <strong>jun 10, 2023</strong> India</small>
                <div class="rev-title">
                    <h3>Great Phone</h3>
                </div>
                <div class="rev-des">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sunt ad reiciendis animi,
                        corporis placeat atque adipisci molestiae delectus dolor magnam repellat. Quibusdam quia cumque
                        ut laudantium odio culpa fugit dolores atque tenetur accusamus ipsum et quis suscipit quae,
                        repellendus sequi dolore debitis. Voluptas, modi tenetur dolore numquam odio, eveniet ipsam iste
                        ut minima accusamus beatae ipsum eum facere explicabo laborum vel cupiditate nostrum, eligendi
                        praesentium dolorum. Placeat officiis illo nihil possimus distinctio voluptas quasi. Facilis
                        nostrum quaerat totam obcaecati repellendus sapiente at. Fugit ipsa minima officia aliquid
                        eaque, labore expedita iste reprehenderit? Voluptatem odit odio illum possimus. Fuga, ea.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script>

        var maining = document.getElementById("MainImg");
        var smallimg = document.getElementsByClassName("small-img");
        var i = 0;
        smallimg[0].onclick = function () {
            maining.src = smallimg[0].src;
        }
        smallimg[1].onclick = function () {
            maining.src = smallimg[1].src;
        }
        smallimg[2].onclick = function () {
            maining.src = smallimg[2].src;
        }
        smallimg[3].onclick = function () {
            maining.src = smallimg[3].src;
        }
        const starRating = document.querySelector('.star-rating');
        const stars = starRating.querySelectorAll('.fa-star');
        const ratingInput = document.getElementById('rating-input');

        stars.forEach((star, index) => {
            star.addEventListener('click', () => {
                const rating = index + 1;
                setRating(rating);
            });

            star.addEventListener('mouseover', () => {
                highlightStars(index);
            });

            star.addEventListener('mouseleave', () => {
                highlightStars(ratingInput.value - 1);
            });
        });
        function setRating(rating) {
            stars.forEach((star, index) => {
                if (index < rating) {
                    star.classList.add('checked');
                } else {
                    star.classList.remove('checked');
                }
            });

            ratingInput.value = rating;
        }
        function highlightStars(rating) {
            stars.forEach((star, index) => {
                if (index <= rating) {
                    star.classList.add('checked');
                } else {
                    star.classList.remove('checked');
                }
            });
        }
        function show() {
            if (i == 0) {
                document.getElementById('review-form').style.display = 'block';
                document.getElementById('review-form').style.transition = " width 2s, height 4s;";
                i = i + 1;
                window.scrollBy(0, 200)
            }
            else {
                document.getElementById('review-form').style.display = 'none';
                document.getElementById('review-form').style.transition = " width 2s, height 4s;";
                i = i - 1;
            }
        }
    </script>
</body>

</html>