{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <script src="https://kit.fontawesome.com/0a433bd601.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.module.css' %}">
  {% block stylesheet %}{% endblock stylesheet %}
  <script src="{% static 'services/javascript/home.js' %}">
  </script>
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <header>
    <section class="search-drop" id="searchBarContainer">
      <div class="s-close">
        <button class="s-btn" onclick="closesearch()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <form method="post" action="{% url 'search_url' %}">
      <div class="search-area">
        {% csrf_token %}
        <button class="s-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <div class="search-bar">
          <input type="search" name="searched" id="searchbar">
        </div>
        </form>
      </div>
    </section>
    <nav class="nav-bar" id="nav-bar">
      <div class="logo">
        <a href="{% url 'homepage_url' %}">LOGO</a>
      </div>
      <div class="site-links" id="link">
        <ul>
          <li><a href="{% url 'homepage_url' %}">Store</a></li>
          {% for category in categories %}
          <li><a href="{% url 'products_list_url' category %}">{{category.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="support">
        <a href="#">Support</a>
      </div>
      <div class="btn-link">
        <button class="sp-btn" onclick="toggleSearchBar()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="sp-btn">
          <a href="cart/">
            <i class="fa-solid fa-cart-shopping"></i>
            {% if totalItemsInCart %}
            <span class="badge">{{totalItemsInCart}}</span>
            {% endif %}
          </a>
        </button>
        <button class="sp-btn usr" onclick="usrdrop()">
          <i class="fa-solid fa-user"></i>
          <div class="usr-dropdown" id="u-drop">
            {% if user.is_authenticated %}
            <a href="{% url 'profile_url' %}">
              <div class="login-btn">Profile</div>
            </a>
            <hr>
            <a href="{% url 'logout_url' %}">
              <div class="signup-btn">Log out</div>
            </a>
            {% else %}
            <a href="{% url 'login_url' %}">
              <div class="login-btn">Login</div>
            </a>
            <hr>
            <a href="{% url 'register_url' %}">
              <div class="signup-btn">Sign up</div>
            </a>
            {% endif %}
          </div>
        </button>
        <button class="sp-btn" id="bar" onclick="menu()">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </nav>
  </header>
  <main>{% block main %}{% endblock main %}</main>
  <script>
    var carousel = document.querySelector(".carousel");
    var slides = carousel.querySelectorAll(".slide");
    var activeSlide = carousel.querySelector("[data-active]");
    console.log(slides)

    var activeIndex = Array.prototype.indexOf.call(slides, activeSlide);
    function nextSlide() {
      activeSlide.removeAttribute("data-active");
      activeIndex++;
      if (activeIndex == slides.length) {
        activeIndex = 0;
      }
      activeSlide = slides[activeIndex];
      activeSlide.setAttribute("data-active", "");
    }

    function prevSlide() {
      activeSlide.removeAttribute("data-active");
      activeIndex--;
      if (activeIndex < 0) {
        activeIndex = slides.length - 1;
      }
      activeSlide = slides[activeIndex];
      activeSlide.setAttribute("data-active", "");
    }

    var interval = setInterval(nextSlide, 3000);
    document.addEventListener("keydown", function (event) {
      if (event.keyCode == 37) {
        prevSlide();
        clearInterval(interval);
        interval = setInterval(nextSlide, 3000);
      }

      if (event.keyCode == 39) {
        nextSlide();
        clearInterval(interval);
        interval = setInterval(nextSlide, 3000);
      }
    });
    function toggleSearchBar() {
      document.getElementById("searchBarContainer").style.top = "0px"
      document.getElementById("nav-bar").style.display = "none"
      window.scrollBy(0, -100000)
    }
    function closesearch() {
      document.getElementById("searchBarContainer").style.top = "-200px"
      document.getElementById("nav-bar").style.display = "flex"
    }
    var i = 0;
    function usrdrop() {
      if (i == 0) {
        document.getElementById("u-drop").style.display = "flex";
        i++;
      }
      else {
        document.getElementById("u-drop").style.display = "none";
        i--;
      }
    }
  </script>
</body>

</html>